@use "variaveis";
@use "hero";
@use "navbar";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: variaveis.$corBg;
}

.text--title{
    font-size: 38px;
    color: variaveis.$corTitle;
}

.text--subTitle{
    font-size: 28px;
    color: variaveis.$corText;
}

.text{
    font-size: 22px;
    line-height: 32px;
    color: variaveis.$corText;
}

